body {
    font-family:
    "ヒラギノ明朝 ProN W6",
    "HiraMinProN-W6",
    "HG明朝E",
    "ＭＳ Ｐ明朝",
    "MS PMincho",
    "MS 明朝",
    serif;
    font-weight: bold;
}

#transcription{
    
}

.page {
    writing-mode: vertical-rl; -webkit-writing-mode: vertical-rl;
    width: 900px;
    margin: 10px;
    padding: 10px;
    height: 600px;
    border: solid black 2px;    
}

.loc {
    padding: 10px;
    color: white;
    background-color: black;
    display: inline-block;
}

.line {
    margin: 0 35px;
}

.linenum{
    font-size: 14px;
    text-align: center;
    width: 20px;
    transform: rotate(270deg);
    display: inline-block;
    height: 20px;
    background-color: rgb(196, 228, 255);
}
.linetext{
    display: inline;
}