!!!!! 5
%html
  %head
    %title= "SourceDoc Canvas"
    %meta(http-Equiv="Cache-Control" Content="no-cache")
    %meta(http-Equiv="Pragma" Content="no-cache")
    %meta(http-Equiv="Expires" Content="0")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %script(src="./js/jquery-2.1.1.min.js")
    %script(src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js")
    %script(src="js/fabricjs_viewport.js")      
    %script(src="js/sourcedoc.js")
    %script $(document).ready(function(){window.canvas = new window.SourceDocCanvas("sourcedoc-canvas")})
  %body
    %canvas#sourcedoc-canvas(width="700" height="600" style="border: 1px solid black;") 
