<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <span><h1>地震史料翻刻ポータル（仮）</h1></span>
    <span flex></span>
    <md-menu md-position-mode="target-right target" >
      <md-button aria-label="Open demo menu" class="" ng-click="$mdOpenMenu($event)">
        <md-icon class="material-icons" style="margin: auto 3px auto 0;">perm_identity</md-icon>
        {{authData.displayName}}
      </md-button>
      <md-menu-content width="4" >
        <md-menu-item>
          <md-button ng-click="ctrl.announceClick($index)">
            <div layout="row" flex>
              <md-icon class="material-icons" style="margin: auto 3px auto 0;">person</md-icon>
              <p flex>プロフィール設定</p>
            </div>
          </md-button>
        </md-menu-item>        
        <md-menu-item>
          <md-button ng-click="ctrl.announceClick($index)">
            <div layout="row" flex>
              <md-icon class="material-icons" style="margin: auto 3px auto 0;">list</md-icon>
              <p flex>マイ資料リスト</p>
            </div>
          </md-button>
        </md-menu-item>        

        <md-divider></md-divider>

        <md-menu-item>
          <md-button ng-click="ctrl.announceClick($index)">
            <div layout="row" flex ng-click="logout()">
              <md-icon class="material-icons" style="margin: auto 3px auto 0;">exit_to_app</md-icon>
              <p flex>ログアウト</p>
            </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>    
  </div>
</md-toolbar>
